{
    "parser": "babel-eslint",
    "extends": ["airbnb"],
    "env": {
      "browser": true
    },
    "rules": {
      "import/extensions": [1, "never", { "jsx": "always", "json": "always" }]
    }
}
